{% extends "dappx/base.html" %}
{% block body_block %}
<style>
    .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

 .container1 {
  background-color: #f2f2f2;
 padding: 5px 20px 15px 20px; 
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-left: 145px;
} 
.container2 {
  background-color: #f2f2f2;
 padding: 5px 20px 15px 20px; 
  border: 1px solid lightgrey;
  border-radius: 3px;
} 

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkoutbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkoutbt:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("#p1").remove();
  });
});
</script> -->
    

<!-- <div></br></div>
<div class="row">
    <div class="col-75">
      <div class="container1" >
       <form>
          <div class="row">
            <div class="col-50">
              <h3>Fatura Adresi</h3>
              <label for="fname"><i class="fa fa-user"></i> Ad-Soyad</label>
              <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input type="text" id="email" name="email" placeholder="john@example.com">
              <label for="adr"><i class="fa fa-address-card-o"></i> Adres</label>
              <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
              <label for="country"><i class="fa fa-flag"></i> Ülke</label>
              <input type="text" id="country" name="country" placeholder="USA">
              <label for="city"><i class="fa fa-institution"></i> Şehir</label>
              <input type="text" id="city" name="city" placeholder="New York">
  
              <div class="row">
                <div class="col-50">
                  <label for="state">Eyalet</label>
                  <input type="text" id="state" name="state" placeholder="NY">
                </div>
                <div class="col-50">
                  <label for="zip">Posta Kodu</label>
                  <input type="text" id="zip" name="zip" placeholder="10001">
                </div>
              </div>
            </div>
  
            <div class="col-50">
              <h3>Ödeme</h3>
              <label for="fname">Kabul edilen Kartlar</label>
              <div class="icon-container">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
              </div>
              <label for="cname">Kart Sahibi</label>
              <input type="text" id="cname" name="cardname" placeholder="John More Doe">
              <label for="ccnum">Kart Numarası</label>
              <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
              <label for="expmonth">Bitiş Tarihi/Ay</label>
              <input type="text" id="expmonth" name="expmonth" placeholder="September">
  
              <div class="row">
                <div class="col-50">
                  <label for="expyear">Bitiş Tarihi/Yıl</label>
                  <input type="text" id="expyear" name="expyear" placeholder="2020">
                </div>
                <div class="col-50">
                  <label for="cvv">CVV</label>
                  <input type="text" id="cvv" name="cvv" placeholder="352">
                </div>
              </div>
            </div>
  
          </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Teslimat adresi ve fatura adresi aynı
          </label>
          <input type="submit" value="Continue to checkout" class="checkoutbtn">
        </form>
      </div>
    </div>
    -->
    
    <div class="col-25">
      <div class="container2">
        <h4>Sepetim
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            {% if cartProducts  %}
            <b >{{cartProducts.length}}</b>
            {% endif %} 
          </span>
        </h4>
        {% if cartProducts  %}

        {% for cpr in cartProducts %} 
 
        <p><a>{{cpr.product.name}}</a> <span class="price">{{cpr.itemPrice}} tl</span><form method='GET' action="{% url 'dappx:remove_item' pr_id=cpr.itemID %}"><button class="btn btn-danger mt-3" type="submit" >Kaldır</button></form></p>
        <!-- <button style="float: center;">Kaldır</button> -->
        
        {% endfor %}


        <hr>
        {% if lastElement.totalCost > 0 %}
        <p>Toplam <span class="price" style="color:black"><b>{{lastElement.totalCost}} tl</b></span></p>
        {% endif %} 
        
        {% else %}
        <p style="text-align:center">Alışveriş Sepetiniz Boş</p>
        <p style="text-align:center">Biraz gezinmeye ne dersin?</p>
        <p style="text-align:center"><a class="button" href="{% url 'dappx:index' %}">Alışverişe Başla</a></p>
        {% endif %} 

      </div>
    </div>
    <br>
    <label>Ödeme tipi : </label>
    <label style="text-indent: 45px;">
      <form>
        <input type="checkbox" checked="checked" name="sameadr"> Kredi Kartı
        <input type="checkbox"  name="sameadr" style="margin-left: 40px;"> Nakit / Kapıda Ödeme
      </form>
    </label>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="sameadr"> Teslimat adresi ve fatura adresi aynı
    </label>
    <form  action="{% url 'dappx:checkout' %}"><button class="checkoutbtn">Ödeme Yap</button></form>
  </form>
  <!-- </div>  -->

<!-- </div> -->
{% endblock %}
